.mdi {
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.md-18 {
	font-size: 18px
}

.md-24 {
	font-size: 24px
}

.md-36 {
	font-size: 36px
}

.md-48 {
	font-size: 48px
}

@keyframes blink {
	50% {
    opacity: 0.3;
  }
}

@keyframes rainbowslol {
	0% {border-color: #c98c8c;}
	10% {border-color: #c5a18a;}
	20% {border-color: #c2bb89;}
	30% {border-color: #a4c78e;}
	40% {border-color: #8ac298;}
	50% {border-color: #87b8b6;}
	60% {border-color: #8384bd;}
	70% {border-color: #a883c2;}
	80% {border-color: #bb7db3;}
	90% {border-color: #cf91aa;}
	100% {border-color: #cc9292;}
}